In [51]:
#Question 1
#What value is displayed when the last expression (a) is evaluated? Explain your
#answer by indicating what happens in every executed statement./*



a = 0  # Initially, the value of 'a' is 0

def b():
    global a  # Access the global variable 'a'
    a = c(a)  # Call function 'c' with the current value of 'a' and assign the result back to 'a'

def c(a):
    return a + 2  # Increment the value of 'a' by 2 and return the result

# Execution starts here
# The first call to function 'b'
b()  # The current value of 'a' is 0
# Inside 'b', the global variable 'a' is accessed
# Call function 'c' with the current value of 'a' (0)
# In 'c', the value of 'a' is incremented by 2, resulting in 2
# The updated value of 'a' (2) is assigned back to the global variable 'a'
# The first call to 'b' completes

# The second call to function 'b'
b()  # The current value of 'a' is 2
# Inside 'b', the global variable 'a' is accessed
# Call function 'c' with the current value of 'a' (2)
# In 'c', the value of 'a' is incremented by 2, resulting in 4
# The updated value of 'a' (4) is assigned back to the global variable 'a'
# The second call to 'b' completes

# The third call to function 'b'
b()  # The current value of 'a' is 4
# Inside 'b', the global variable 'a' is accessed
# Call function 'c' with the current value of 'a' (4)
# In 'c', the value of 'a' is incremented by 2, resulting in 6
# The updated value of 'a' (6) is assigned back to the global variable 'a'
# The third call to 'b' completes

a  # Evaluate and display the value of 'a'

# Output: 6

6

In [14]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')  
        content = infile.read()  
        infile.close()  
        print("Length of file", filename, "is", len(content))
    except FileNotFoundError:
        print("File", filename, "not found.")


fileLength('C:/Users/navne/OneDrive/Desktop/assignment inclass 2.txt') 
fileLength('C:/Users/navne/OneDrive/Desktop/assignment inclass 1.txt')

Length of file C:/Users/navne/OneDrive/Desktop/assignment inclass 2.txt is 459
File C:/Users/navne/OneDrive/Desktop/assignment inclass 1.txt not found.

In [6]:
class Marsupial:
    def __init__(self):
        self.pouch = [] 
    def put_in_pouch(self, item):
        self.pouch.append(item)  

    def pouch_contents(self):
        return self.pouch  


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  
        self.x = x  
        self.y = y  

    def jump(self, dx, dy):
        self.x += dx  
        self.y += dy  

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"



k = Kangaroo(0, 0)  
print(k)  

k.put_in_pouch('doll')  
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten')  
print(k.pouch_contents())  

k.jump(1, 0)  
k.jump(1, 0)  
k.jump(1, 0)  
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [16]:
def collatz(x):
    print(x)
    if x == 1:  
        return
    elif x % 2 == 0:  
        collatz(x // 2)  
    else:  
        collatz(3 * x + 1)  


collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [18]:
def binary(n):
    if n == 0 or n == 1:  
        print(n, end='')
    else:
        binary(n // 2)  
        print(n % 2, end='')


print()  
binary(0)
print()  
binary(1)
print()  
binary(3)
print()  
binary(9)

0
1
11
1001

In [24]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self.indentation = int(tag[1:]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indentation = 0

    def handle_data(self, data):
        if data.strip() and self.indentation > 0:
            heading = ' ' * self.indentation + data.strip()
            self.headings.append(heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)


file=open('C:/Users/navne/OneDrive/Desktop/assignment2/w3c.html')
html_content = file.read()

parser = HeadingParser()
parser.feed(html_content)
parser.print_headings()

 Principles

In [25]:
#Question 7
#Implement recursive function webdir() that takes as input: a URL (as a string) and
#non-negative integers depth and indent. Your function should visit every web
#page reachable from the starting URL web page in depth clicks or less, and print
#each web page's URL. As shown below, indentation, specified by indent, should
#be used to indicate the depth of a URL.



import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    print(' ' * indent + url)

    if depth == 0:
        return

    links = soup.find_all('a')
    visited = set()  

    for link in links:
        href = link.get('href')
        if href and href.startswith('http') and href not in visited:
            visited.add(href)
            webdir(href, depth - 1, indent + 4)



webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', depth=2, indent=0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [32]:
import sqlite3

# Connect to the SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS weather (
                    city TEXT,
                    country TEXT,
                    season TEXT,
                    temperature REAL,
                    rainfall REAL
                )''')

# Insert data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes to the database
conn.commit()

# Execute a SELECT query
cursor.execute('SELECT * FROM weather')

# Fetch all rows from the result set
rows = cursor.fetchall()

# Print the data in the table format
print("{:<10} {:<15} {:<10} {:<12} {:<10}".format('City', 'Country', 'Season', 'Temperature', 'Rainfall'))
for row in rows:
    print("{:<10} {:<15} {:<10} {:<12} {:<10}".format(row[0], row[1], row[2], row[3], row[4]))

# Close the cursor and connection
cursor.close()
conn.close()

City       Country         Season     Temperature  Rainfall
Mumbai     India           Winter     24.8         5.9
Mumbai     India           Spring     28.4         16.2
Mumbai     India           Summer     27.9         1549.4
Mumbai     India           Fall       27.6         346.0
London     United Kingdom  Winter     4.2          207.7
London     United Kingdom  Spring     8.3          169.6
London     United Kingdom  Summer     15.7         157.0
London     United Kingdom  Fall       10.4         218.5
Cairo      Egypt           Winter     13.6         16.5
Cairo      Egypt           Spring     20.7         6.5
Cairo      Egypt           Summer     27.7         0.1
Cairo      Egypt           Fall       22.2         4.5

In [35]:
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute('SELECT Temperature FROM weather')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for data in temperature_data:
    print(data[0])

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [36]:
cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()
print("Cities without repetition:")
for city in cities:
    print(city[0])

Cities without repetition:
Mumbai
London
Cairo

In [37]:
cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:")
for record in india_records:
    print(record)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [38]:
cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall Records:")
for record in fall_records:
    print(record)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [39]:
cursor.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
records_e = cursor.fetchall()
print("Records for average rainfall between 200 and 400 millimeters:")
for record in records_e:
    print(record)

Records for average rainfall between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [40]:
cursor.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
records_f = cursor.fetchall()
print("Records for average Fall temperature above 20 degrees (in increasing temperature order):")
for record in records_f:
    print(record)

Records for average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

In [41]:
cursor.execute("SELECT SUM(Rainfall) FROM Weather WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()[0]
print("Total annual rainfall for Cairo:", total_rainfall_cairo)

Total annual rainfall for Cairo: 27.6

In [42]:
cursor.execute("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season")
season_rainfall = cursor.fetchall()
print("Total rainfall for each season:")
for record in season_rainfall:
    print(record)

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [43]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [45]:
words_a = [word.upper() for word in words]
print(words_a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [46]:
words_b = [word.lower() for word in words]
print(words_b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [47]:
words_c = [len(word) for word in words]
print(words_c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [48]:
words_d = [[word.upper(), word.lower(), len(word)] for word in words]
print(words_d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [49]:
words_e = [word for word in words if len(word) >= 4]
print(words_e)

['quick', 'brown', 'jumps', 'over', 'lazy']